<!--<form [formGroup]="form" (ngSubmit)="onSubmit()" #signupForm="ngForm" >-->
    <h2>Register</h2>
  <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
  <div class="form-group">
    <label for="title">Email : </label>
    <input type="email" class="form-control" id="email" required [(ngModel)]="user.userEmail" name="userEmail" #email="ngModel">
    <!--By using the last piece you can use email inside html like below-->
  </div>
  <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
    E-Mail is required
  </div>
  <div class="form-group">
    <label for="content">User Name : </label>
    <input type="text" class="form-control" id="userName" required [(ngModel)]="user.userName" name="userName" #userName="ngModel">
  </div>
  <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
    User Name is required
  </div>
  <div class="form-group">
    <label for="password">Password : </label>
    <input type="password" class="form-control" id="password" required [(ngModel)]="user.password" name="password" #password="ngModel">
  </div>
  <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
    Password is required
  </div>
  <div class="form-group">
    <label for="passwordRep">Password Repeat: </label>
    <input type="password" class="form-control" id="passwordRep" required [(ngModel)]="user.passwordRep" name="passwordRep" #passwordRep="ngModel">
  </div>
  <div [hidden]="passwordRep.valid || passwordRep.pristine" class="alert alert-danger">
    Password Repetation is required
  </div>
  <!--<input type="password" class="form-control" id="passwordRep" required [(ngModel)]="passwordRep" formControlName="passwordRep" [formGroup]="form">
    <div class="alert alert-danger" *ngIf="form.controls.confirmPassword.errors?.MutchPassword">Passwords do not match</div>-->
  <div class="form-group">
    <button type="submit" class="btn btn-success" [disabled]="!signupForm.form.valid">Submit</button>
    <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
  </div>
</form>